BR2_xtensa=y
BR2_XTENSA_CUSTOM=y
BR2_XTENSA_CUSTOM_NAME="de212"
BR2_XTENSA_OVERLAY_DIR="board/qemu/xtensa-nommu-de212"
BR2_ENABLE_DEBUG=y
BR2_KERNEL_HEADERS_4_1=y
BR2_UCLIBC_VERSION_XTENSA_GIT=y
BR2_UCLIBC_CONFIG="package/uclibc/uClibc-ng.config"
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_BINUTILS_VERSION_2_25_X=y
BR2_GCC_VERSION_5_X=y
BR2_PACKAGE_HOST_ELF2FLT=y
# BR2_USE_MMU is not set
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-nommu.config"
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_ETHTOOL=y
BR2_TARGET_ROOTFS_CPIO=y
