BR2_xtensa=y
BR2_XTENSA_CUSTOM=y
BR2_XTENSA_CUSTOM_NAME="dc233c"
BR2_XTENSA_OVERLAY_DIR="board/xtsc/mw-mp"
BR2_KERNEL_HEADERS_4_8=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://github.com/jcmvbkbc/linux-xtensa.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="xtensa-xrp"
BR2_LINUX_KERNEL_DEFCONFIG="xrp"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="zImage"
BR2_LINUX_KERNEL_IMAGE_NAME="Image.elf"
BR2_PACKAGE_XRP=y
BR2_PACKAGE_XRP_FIRMWARE=y
BR2_PACKAGE_XRP_FIRMWARE_XTENSA_TOOLS="/opt/xtensa/XtDevTools/install/tools/RG-2016.3-linux/XtensaTools/bin"
BR2_PACKAGE_XRP_FIRMWARE_DSP_LSP="$(TOPDIR)/board/xtsc/mw-mp/lsp/P6_%d/xtensa-elf/lib/sim-stacklocal"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_E2TOOLS=y
